<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AppForSharePointWebToolkit" version="3.1.5" targetFramework="net452" />
  <package id="KoenZomers.OneDrive.Api" version="2.0.1.0" targetFramework="net452" />
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.6906.1200" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
</packages>